body{
  font-family: 'Lobster', cursive;
  height: 100%;
  width: 100%;
  text-align: center;
}


nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
}

#nav-1 {
  background: grey;
}

.link-1 {
  transition: 0.3s ease;
  background: lightgray;
  color: darkred;
  font-size: 20px;
  text-decoration: none;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  padding: 20px 15;
  margin: 0px 90px;
}

.link-1:hover {
  border-top: 2px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 6px 0;
  color: black; 
}

.row{
 border-color: white;
}

.container{
 border-color: white;
 text-align: center;
}

.img-circle{
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: top; /* here */
  margin: 60px;
}


#circle{
  height: 300px;
  width: 300px;
  text-align: center;
  margin: px 10px 0px 3px;
  text-align: justify;
  font-family: 'Roboto Slab', serif;
}

.h1{
  text-align: center;
  color: black;
}

.div-1{
  text-align: center;

}

#text{
  font-size: 18;
  width: 320px;
  background-color: lightgray;
  border: 1px solid black;
  display: inline-block;
  margin: 40px;
  margin-top: 0px;
  
}
.page1{
  height: 100%;
  width: 100%;
  background-image: url(../css/images/stardust.png);
}

.page2{
  height: 100%;
  width: 100%;
  background-image: url(../css/images/old_map.png);
}

.index{
  background-image: url(../css/images/mooning.png);
  height: 100%;
  width: 100%;
  text-align: center;
}

#carousel-example-generic{
  width: 600px;
  margin: 0 auto;
}

.modal{
  color: red;
  float: right;
}

#modal-button{
  float: right;
}

#para{
  color: lightblue;
  font-size: 50;
  text-align: center;
  margin-top: 150px;
  text-decoration: underline;
}

@media screen and (max-width: 500px){
  #link-1{
    width: 100%;
  }
  #carousel-example-generic{
    width: 100%;
  }
}
